<template>
    <div id="grilleB2">
        <p>B1</p>
        <p>B3</p>
        <p>D3</p>
        <p>D6</p>
        <p>A6</p>
        <p>B5</p>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
    #grilleB2 {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
</style>