<template>
    <v-container>
        <Navbar/>
        <div>
            <div class="text-center">
                <p class="display-3 red text-uppercase font-weight-bold pa-4">
                    <v-icon left x-large>mdi-alert</v-icon>
                    Alerte
                    <v-icon right x-large>mdi-alert</v-icon>
                </p>
                <p class="display-1 my-12">Activation du système d'extraction d'air dans :</p>
                <Timer class="my-12"/>
                <v-divider></v-divider>
                <p class="text-center my-12">
                    ATTENTION : Une brèche dans le système de confinement des virus a été détectée. <br> Par mesure de
                    sécurité, trouvez la source concernée et suivez les instructions d’urgence.
                </p>
                <p class="headline">Procédez <u>immédiatement</u> à la procédure d'urgence </p>
                <p class="overline">(Consultez la documentation)</p>
                <img src="@/assets/images/Signe2.jpg" style="width: 500px; margin-bottom: 50px"/>
            </div>
        </div>
    </v-container>
</template>

<script>
    import Navbar from "./Navbar";
    import Timer from "./Timer";

    export default {
        components: {Timer, Navbar},
    }
</script>

<style scoped>

</style>