<template>
    <v-container>
        <Navbar/>
        <h2>Confinement d'un virus</h2>
        <div style="text-align: center; display: block">
            <img src="@/assets/containment.jpg" style="max-width: 300px" alt="Photo d'échantillons"><br>

            <div style="margin: 20px">
                <p>{{ message }}</p>

                <label for="containment">Entrer le code : </label>
                <input type="text" name="containment" id="containment" class="secondary">
            </div>

            <v-btn type="submit" class="secondary" @click="validate()">Valider</v-btn>


        </div>

    </v-container>
</template>

<script>
    import Navbar from "./Navbar";

    export default {
        components: {Navbar},
        data: () => ({
            message: '',

        }),
        methods: {
            validate() {
                const nameInput = document.querySelector('input');
                console.log(nameInput.value.toUpperCase())
                console.log(nameInput.value)
                nameInput.disabled = true;
                this.message = `Echantillon en cours d'analyse...`
                setTimeout(() => {
                    if (nameInput.value.toUpperCase() == "WUHAN") {
                        this.message = 'Virus confiné !';
                    } else {
                        this.message = "Aucune faille de confinement détectée pour ce virus"
                        nameInput.disabled = false;
                    }
                }, 5000)
            }
        }
    }
</script>

<style scoped>

</style>