<template>
    <v-container>
        <Navbar/>
        <h2>Système de déverrouillage des portes</h2>
        <div style="text-align: center; display: block">
            <img src="@/assets/digicode.jpg" style="max-width: 300px" alt="Photo d'un digicode"><br>

            <div style="margin: 20px">
                <pre>{{ message }}</pre>

                <label for="digicode">Entrer le mot de passe pour sortir : </label>
                <input type="text" name="digicode" id="digicode" class="secondary">
            </div>

            <v-btn type="submit" class="secondary" @click="validate()">Valider</v-btn>
        </div>

    </v-container>
</template>

<script>
    import Navbar from "./Navbar";

    export default {
        components: {Navbar},
        data: () => ({
            message: '',

        }),
        methods: {
            validate() {
                const nameInput = document.querySelector('input');
                nameInput.disabled = true;

                    this.message = `Vérification...`
                    setTimeout(() => {
                        if (nameInput.value == 2946) {
                            this.message = 'Bravo ! Vous êtes sortis du laboratoire. \n\n Vous apprenez 1 semaine après que vous avez été contaminé(e) par le virus et que celui-ci se propage à vitesse grand V et menace l\'espèce humaine.\n' +
                                '\n' +
                                'L’humanité se souviendra de votre nom ! (mais pas en bien)\n\n';
                        } else {
                            this.message = "Erreur : mot de passe incorrect"
                            nameInput.disabled = false;
                        }
                    }, 5000)
            }
        }
    }
</script>

<style scoped>

</style>