<template>
    <v-container>
        <Navbar/>
        <h2>Aides</h2>
        <p>Non disponible, le manuel d'aide ce trouve dans le bureau 2</p>
    </v-container>
</template>

<script>
    import Navbar from "./Navbar";

    export default {
        components: {Navbar}
    }
</script>

<style scoped>

</style>