<template>
    <div id="grilleB3">
        <p>\</p>
        <p>\</p>
        <p>\</p>
        <p>/</p>
        <p>\</p>
        <p>\</p>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
    #grilleB3 {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
</style>