<template>
    <v-container>
        <Navbar/>
        <h2>Système de ventilation</h2>
        <div style="text-align: center; display: block">
            <p>Chaque minute compte</p>
            <img src="@/assets/fan.jpg" style="max-width: 300px" alt="Photo d'un laboratoire avec extraction d'air"><br>
        </div>

        <div id="mdp" style="text-align: center; margin: 10px">
            <p>Mot de passe</p>
            <input id="input" type="input" value="" maxlength="4"
                   style="border-color: black; background-color: white; color: black; width: 40px; margin-bottom: 20px"/><br>
            <v-btn v-on:click="valider">Valider</v-btn>
        </div>
        <div id="solution" hidden style="text-align: center; margin: 10px">
            <img src="@/assets/images/Digicode3.jpg" style="width: 500px; margin-bottom: 50px"/>
        </div>
    </v-container>
</template>

<script>
    import Navbar from "./Navbar";

    export default {
        components: {Navbar},
        data() {
            return {
                isHidden: true,
            };
        },
        methods: {
            valider: function () {
                var input = document.getElementById('input').value;
                var date = new Date();
                var heure = date.getHours().toString();
                var minute = date.getMinutes().toString();

                if (heure.length == 1) {
                    heure = "0" + heure;
                }
                if (heure.length == 0) {
                    heure = "00";
                }
                if (minute.length == 1) {
                    minute = "0" + minute;
                }
                if (minute.length == 0) {
                    minute = "00";
                }
                if (input == heure + minute) {
                    document.getElementById('solution').hidden = false;
                    document.getElementById('mdp').hidden = true;
                }
            }
        }
    }

</script>

<style scoped>

</style>